
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.container{
    display: flex;
    background-color: rgb(11, 11, 240);
    justify-content: space-between;
}
.top-right img{
width: 500px;
padding-right: 100px;
}
h1{
    font-family: 'Poppins', sans-serif;
 }

 .top-left{
     color: white;
     padding-left: 100px;
     padding-top: 50px;
     font-weight: 700;
     font-size: 25px;
 }
 .top-left a:hover{
     text-decoration: none;
     padding: 3px;
    background-color: rgb(255, 0, 119);
     color: white;
     transition: 1s;

 }
 .top-players{
display: grid;
grid-template-columns: repeat(3,1fr);
justify-content: center;
margin-top: 5%;
margin-left: 20%;
margin-right: 20%;

 }
 .player img{
     height: 200px;
     width: 200px;
 }
 .player{
     width: 250px;
    
     padding: 10px;
     background-color: whitesmoke;
 }
 footer{
     text-align: center;
     margin-bottom: 3%;
 }
 .top-logo img{
     height: 80px;
     width: 350px;
 }
.icons {
    display: flex;
    justify-content: center;
}
.icons img{
    height: 25px;
    width: 25px;
    margin: 8px;
}
